html {
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
height: 100vh;
}

#calculator-box {
	background-color:silver;
	height: 500px;
	width: 350px;
	margin: 100px auto 0px auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #000000;
	
}

#title {
	text-align:center;
	padding-top: 10px;
	font-size: 30px;
	font-family: 'Audiowide', cursive;
	color: black;
}

#screen {
	height: 70px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgreen;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	-webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#main-text {
	text-align:right;
	font-size: 30px;
	font-family: 'Audiowide', cursive;
	color: black;
	padding-right: 5px;
}

#sub-text {
	text-align:right;
	font-size: 15px;
	font-family: 'Audiowide', cursive;
	color: black;
	padding-right: 5px;
}

/*buttons style css starts here*/

#buttons-box{
	position: relative;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 65%;
}

.buttons {
	height: 50px;
	width: 50px;
	background-color: #2F4F4F;
	z-index: 121;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	color: white;
	text-align: center;
	line-height: 50px;
	font-family: 'Audiowide', cursive;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #000000;
	cursor: pointer;
}

.buttons:active{
	background-color: white;
}

#equal-button {
	height: 120px;
	width: 50px;
	background-color: #2F4F4F;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	color: white;
	text-align: center;
	line-height: 120px;
	font-family: 'Audiowide', cursive;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #000000;
	cursor: pointer;
}

#equal-button:active{
	background-color: white;
}

#button-zero {
	height: 50px;
	width: 120px;
	background-color: #2F4F4F;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:-50px;
	color: white;
	text-align: center;
	line-height: 50px;
	font-family: 'Audiowide', cursive;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #000000;
	cursor: pointer;
}

#button-zero:active{
	background-color: white;
}

#button-dot {
	height: 50px;
	width: 50px;
	background-color: #2F4F4F;
	float:left;
	margin-left:150px;
	margin-right:10px;
	margin-top:-50px;
	color: white;
	text-align: center;
	line-height: 50px;
	font-family: 'Audiowide', cursive;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #000000;
	cursor: pointer;
}
#button-dot:active{
	background-color: white;
}

#ac,#ce {
	background-color: darkred;
}

#credits {
	text-align: center;
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

a {
    color: darkblue;
	text-decoration: none;
}