

body, html {
	background-color: rgb(6,103,208);
	
}

.container {
	background-color: #579ae2;
	margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	border: white solid 10px;
	min-width:1170px!important;
	
}

#bottom-trim {
	color:red;
	height:20px;
	width:100px;
	background-color: white;
	margin-left: 40px;
}

#top-trim {
	color:red;
	height:20px;
	width:100px;
	background-color: white;
	margin-left: 40px;
}

.first-row {
	background-color: white;
	height: 200px;
	margin-top: 0px;
	border: 1px solid;
}

#logo {
	margin-top: 10px;
}

#cut-title {
	font-family: 'Roboto Mono', monospace;
	font-size: 99px;
	color: #831e0c;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	position: absolute;
	right: 660px;
	top: 42px;
}

#calculator-title {
	font-family: 'Roboto Mono', monospace;
	font-size: 99px;
	margin-bottom: 50px;
	position: absolute;
	top: 42px;
	right: 80px;
	color: #831e0c;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.second-row{
	border: 1px solid;
}

#door-container {
	height: 340px;
	margin-top:40px;
	margin-bottom:40px;
}

#door {
	margin-left: auto;
	margin-right:auto;
	background-color:white;
	height: 267px;
	width:100px;
	border: solid 1px;
	margin-top:93px;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}

#hole {
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: black;
	position: absolute;
	top: 235px;
	left: 155px;
}

#bottom-cut-draw {
	opacity: 0.5;
	background-color: red;
	width: 98px;
	position:absolute;
	top: 359px;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}

#top-cut-draw {
	opacity: 0.5;
	background-color: red;
	width: 98px;
	position:absolute;
	height: 0px;
	margin-top: 0px;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}

#door-height {
	height: 267px;
	position:absolute;
	width:20px;
	top:92px;
	left:250px;
	border-style: dashed;
	border-color: red;
	border-left: 0px;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}

#height-center {
	font-family: 'Roboto Mono', monospace;
	color: red;
	font-size:24px;
	position: absolute;
	top: 210px;
	left: 280px;
}

.menu-text {
	color: black;
	font-size:24px;
	font-family: 'Roboto Mono', monospace;
}

#selectHeight {
	font-size:24px;
	font-family: 'Roboto Mono', monospace;
}

#height-text{
	margin-top:40px;
}

#bottom-text {
	margin-top:10px;
	margin-left: 95px;
}

#bottom {
	position: absolute;
	top:140px;
	left:265px;
	width:50px;
}

#top-text {
	margin-top:10px;
	margin-left: 95px;
}

#top {
	position: absolute;
	top:179px;
	left:225px;
	width:50px;
	pointer-events: none;
	background-color: lightgrey;
}

#checkBox {
	position: absolute;
	top:179px;
	left: 285px;
}

#checkbox-text {
	position: absolute;
	top:179px;
	left: 300px;
	color: black;
}

#final-text {
	margin-top:50px;
	margin-left: 50px;
	font-size:32px;
}

#final {
	height:50px;
	width:170px;
	font-size:42px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	pointer-events: none;
}

#result {
	background-color: white;
	height:50px;
	width:200px;
	margin-top:5px;
	margin-left:5px;
	display: inline-block;
	pointer-events: none;
}

#final-feet {


	font-size:42px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	float:left;
	

	
}

#final-feet-small1 {
	font-size:22px;
	line-height: 40px;
	text-align: left;
	float: left;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	pointer-events: none;
}

#final-feet-small2 {
	font-size:39px;
	text-align: left;
	float: left;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	pointer-events: none;
}

#final-feet-small3 {
	font-size:22px;
	line-height: 70px;
	text-align: left;
	float: left;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	pointer-events: none;
}

#final-feet-small4 {
	font-size:39px;
	text-align: left;
	float: left;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	pointer-events: none;
}

.final-slab-size-text{
	color: black;
	font-size:18px;
}



#net-text{
	margin-left: 12px;
}

#net-frame {
	width:300px;
	height: 40px;
	pointer-events: none;
	font-family: 'Roboto Mono', monospace;
	font-size:32px;
	text-align: center;
}

#cut-text-bottom {
	font-family: 'Roboto Mono', monospace;
	color: red;
	font-size: 16px;
	text-align: center;
	margin-top: -20px;
	display: none;
}

#cut-text-top {
	font-family: 'Roboto Mono', monospace;
	color: red;
	font-size: 16px;
	text-align: center;
	margin-top: -20px;
	display: none;
}

#warning-bottom{
	display:none;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	font-size: 18px;
}

#warning-top{
	display:none;
	font-family: 'Roboto Mono', monospace;
	color: darkred;
	font-size: 18px;
}

#rough-text {
	position: absolute;
	top:78px;
	left: 210px;
	color: black;
	width: 170px;
}

#rough-title-text{
	font-size: 34px;
	margin-top:50px;
	margin-left:30px;
	width: 400px;
}

#rough-size {
	width: 50px;
	float:left;
	margin-left: 95px;
}

#inches {
	float:left;
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Roboto Mono', monospace;
	color: black;
	font-size:18px;
}
#max-trim-bottom {
	height:5px;
	width:98px;
	border-top: dashed 1px;
	position: absolute;
	bottom: 0px;
}

#maxtrim-bottom-text {
	color: darkred;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	position: absolute;
	bottom: -4px;
	left: -50px;
}

#max-trim-top {
	/*======================fix later==========================*/
	height:5px;
	width:98px;
	border-top: dashed 1px;
	position: absolute;
	margin-top:9px;
}

#maxtrim-bottom-top {
	color: darkred;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	position: absolute;
	margin-top:6px;
	left: -50px;
}

#description {
	color: black;
	font-family: 'Roboto Mono', monospace;
	font-size: 24px;
	text-align: center;
	width: 550px;
	margin-left:310px;

	

}